@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om mig";
}

<h1>Om mig</h1>
<p>Jag heter Petra Ingemarsson, är 33 år gammal och bor i Örebro.</p>
<p>Sedan höstterminen 2022 är jag tjänstledig från mitt jobb som Biståndshandläggare i Örebro kommun för att studera
    programmet Webbutveckling vid Mittuniversitetet i Sundsvall.</p>
