@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>
<p>Det här är en enklare webbplats skapad med ASP.NET Core och Razor Pages. Applikationens design är konstruerad med
    CSS. JavaScript används för att visa och dölja navigeringsmenyn med en hjälp av en knapp som blir synlig på
    skärmbredder mindre än 600 pixlar.</p>
